// SPDX-License-Identifier: GPL-2.0-only
/*
 * Copyright (C) 2022 Embetrix - https://Embetrix.com
 */
/dts-v1/;

#include "am33xx.dtsi"
#include "am335x-bone-common.dtsi"
#include "am335x-boneblack-common.dtsi"

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pwm/pwm.h>
#include <dt-bindings/interrupt-controller/irq.h>

/ {
	model = "AM335x Megasonic";
	compatible = "ti,am335x-megasonic", "ti,am33xx";

	gpio_keys {
		compatible = "gpio-keys";
		pinctrl-names = "default";
		pinctrl-0 = <&btn_pins>;

		button@1 {
			debounce-interval = <50>;
			linux,code = <31>;
			label = "start";
			gpios = <&gpio1 12 GPIO_ACTIVE_LOW>;
			gpio-key,wakeup;
			autorepeat;
		};
	};

	leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&user_leds_s1>;

		start_led: led@0 {
			label = "start:white:usr4";
			gpios = <&gpio0 26 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};

		enable_led: led@1 {
			label = "enable:green:usr5";
			gpios = <&gpio1 15 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};

		alarm_led: led@2 {
			label = "alarm:red:usr6";
			gpios = <&gpio1 14 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};
	};

	backlight: backlight {
		compatible = "pwm-backlight";
		pwms = <&ehrpwm1 0 500000 PWM_POLARITY_INVERTED>;
		brightness-levels = <0 10 20 30 40 50 60 70 80 90 100>;
		default-brightness-level = <8>; // corresponds to 80
		status = "okay";
	};

	panel: panel@0 {
		compatible = "panel-dpi";
		pinctrl-names = "default";
		pinctrl-0 = <&lcd_24bit_pins>;
		status = "okay";

		display-timings {
			native-mode = <&timing0>;

			timing0: timing0 {
				clock-frequency = <30000000>;
				hactive = <800>;
				vactive = <480>;
				hfront-porch = <40>;
				hback-porch = <40>;
				hsync-len = <48>;
				vback-porch = <30>;
				vfront-porch = <13>;
				vsync-len = <3>;
				hsync-active = <0>;
				vsync-active = <0>;
				de-active = <1>;
				pixelclk-active = <0>;
			};
		};
	};
};

&am33xx_pinmux {

	megasonic_i2c2_pins: pinmux_i2c2_pins {
		pinctrl-single,pins = <
			0x150 0x73	/* uart1_ctsn.i2c2_sda */
			0x154 0x73	/* uart1_rtsn.i2c2_scl */
		>;
	};

	uart4_pins: pinmux_uart4_pins {
		pinctrl-single,pins = <
			0x070 0x27	/* gpmc_wait0.uart4_rxd_mux2 */
			0x074 0x27	/* gpmc_wpn.uart4_txd_mux2  */
		>;
	};

	lcd_24bit_pins: pinmux_lcd_24bit_pins {
		pinctrl-single,pins = <
			0x0A0 0x00 /* lcd_data0 */
			0x0A4 0x00 /* lcd_data1 */
			0x0A8 0x00 /* lcd_data2 */
			0x0AC 0x00 /* lcd_data3 */
			0x0B0 0x00 /* lcd_data4 */
			0x0B4 0x00 /* lcd_data5 */
			0x0B8 0x00 /* lcd_data6 */
			0x0BC 0x00 /* lcd_data7 */
			0x0C0 0x00 /* lcd_data8 */
			0x0C4 0x00 /* lcd_data9 */
			0x0C8 0x00 /* lcd_data10 */
			0x0CC 0x00 /* lcd_data11 */
			0x0D0 0x00 /* lcd_data12 */
			0x0D4 0x00 /* lcd_data13 */
			0x0D8 0x00 /* lcd_data14 */
			0x0DC 0x00 /* lcd_data15 */
			0x0E0 0x00 /* lcd_vsync */
			0x0E4 0x00 /* lcd_hsync */
			0x0E8 0x00 /* lcd_pclk */
			0x0EC 0x00 /* lcd_ac_bias_en */
			0x1A4 0x17 /* mcasp0_fsr.gpio3_19 LCD DISEN */
		>;
	};

	bb_lcd_pwm_backlight_pins: pinmux_bb_lcd_pwm_backlight_pins {
		pinctrl-single,pins = <
			0x048 0x06	/* gpmc_a2.ehrpwm1a */
		>;
	};

	bb_buzzer_pwm_pins: pinmux_bb_buzzer_pwm_pins {
		pinctrl-single,pins = <
			0x034 0x04	/* gpmc_ad9.ehrpwm2B */
		>;
	};

	bb_i2c1_pins: pinmux_bb_i2c1_pins {
		pinctrl-single,pins = <
			0x158 0x72	/* spi0_d1.i2c1_sda */
			0x15C 0x72	/* spi0_cs0.i2c1_scl */
		>;
	};

	edt_ft5x06_pins: pinmux_edt_ft5x06_pins {
		pinctrl-single,pins = <
			0x180 0x37	/* INPUT_PULLUP | MODE7 */
		>;
	};

	btn_pins: pinmux_btn_pins {
		pinctrl-single,pins = <
			0x030 0x2f	/* gpio1_12 */
		>;
	};

	user_leds_s1: pinmux_user_leds_s1 {
		pinctrl-single,pins = <
			0x028 0x07	/* gpio0_26 */
			0x03C 0x07	/* gpio1_15 */
			0x038 0x07	/* gpio1_14 */
		>;
	};
};

&mmc1 {
	vmmc-supply = <&vmmcsd_fixed>;
};

&mmc2 {
	vmmc-supply = <&vmmcsd_fixed>;
	pinctrl-names = "default";
	pinctrl-0 = <&emmc_pins>;
	bus-width = <8>;
	status = "okay";
};

&uart4 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart4_pins>;
	status = "okay";
	symlink = "bone/uart/4";
};

&epwmss1 {
	status = "okay";
};

&epwmss2 {
	status = "okay";
};

&ehrpwm1 {
	pinctrl-names = "default";
	pinctrl-0 = <&bb_lcd_pwm_backlight_pins>;
	status = "okay";
};

&ehrpwm2 {
	pinctrl-names = "default";
	pinctrl-0 = <&bb_buzzer_pwm_pins>;
	status = "okay";
};

&i2c0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c0_pins>;

	clock-frequency = <400000>;

	tps: tps@24 {
		reg = <0x24>;
	};
};

&i2c1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&bb_i2c1_pins>;

	// configuration start
	clock-frequency = <100000>;

	#address-cells = <1>;
	#size-cells = <0>;

	polytouch: touchscreen@38 {
		compatible = "edt,edt-ft5x06";
		reg = <0x38>;
		pinctrl-names = "default";
		pinctrl-0 = <&edt_ft5x06_pins>;
		interrupt-parent = <&gpio0>;
		interrupts = <14 IRQ_TYPE_EDGE_FALLING>;

		touchscreen-size-y = <800>;
		touchscreen-size-x = <480>;

		touchscreen-swapped-x-y;
		touchscreen-inverted-x;
	};

};

&i2c2 {
	pinctrl-names = "default";
	pinctrl-0 = <&megasonic_i2c2_pins>;

	status = "okay";
	clock-frequency = <100000>;

	rtc@51 {
		compatible = "nxp,pcf8563";
		reg = <0x51>;
	};

};

&lcdc {
	status = "okay";
};
